{
    "name": "Buscardini",
    "protocol": "ftp",
    "host": "",
    "port": 21,
    "username": "",
    "password": "",
    "remotePath": "/public_html/",
    "uploadOnSave": false,
    "useTempFile": false,
    "openSsh": false,
    "secure": true,
    "secureOptions": {
        "rejectUnauthorized": false
    },
    "syncOption": {
        "delete": false
    },
    "ignore": [".vscode", ".git", ".DS_Store", "Thumbs.db", ".gitignore", ".claude", "mail-template", "README.md", "process/config.example.php"]
}
